@{
    ViewData["Title"] = "Experience - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>About Us</h2>
        <h5>For over 30 years Gummi Bear Kingdom has been making the World's Best Gummies & Candies right here in the United States. 
            It's not surprising to see how quickly our company & our World's Best & Gold Label brands have grown. 
            For years we've had a simple recipe for success putting flavor & texture first, always finding a better way & 
            never taking ourselves too seriously.

            Our gummies & candies taste different (and by different we mean better) because we are different. 
            All of our gummies & candies are made at our factory located in the heart of the Midwest and produced with only the 
            highest quality ingredients sourced exclusively from American & European growers -- sorry China. 
            From nut clusters made with Virginia peanuts to Chocolate covered Michigan cherries – you'll taste the difference that 
            better ingredients make.

            Don't be fooled (we're pretty sure your taste buds won't be) but you can always spot the World's Best Gummies by 
            checking the belly – all Gummi Bear Kingdom gummies get the “A” of approval stamped right on their belly before they leave our factory!</h5>
    <p>@Html.ActionLink("Product list", "Index", "Products")</p>
</body>
</html>